# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# 환경 설정 파일
.env
*.env

# 가상환경 폴더
.venv/
ENV/
env/

# 설치된 라이브러리
*.egg
*.egg-info/
dist/
build/

# IDE 관련 설정 파일 (PyCharm, VSCode 등)
.idea/
.vscode/

# Flask 관련 파일
instance/
*.sqlite3
*.log
*.db

# MacOS 임시 파일
.DS_Store

# Windows 임시 파일
Thumbs.db

# Log 파일
*.log

# pyenv 관련 파일
.python-version
