{% extends "base.html" %} 
{% block title %}업체관리{% endblock %} 

{% block content %}
<div class="container">
  <div class="table-wrapper">
  
    <form method="POST">
      <h3 align="center">업체 등록</h3>
      <div class="form-group">
        <label for="saname">업체명</label>
        <input
          type="text"
          class="form-control"
          id="saname"
          name="saname"
          placeholder="Enter company name"
        />
      </div>
      <div class="form-group">
        <label>참여분야</label>
        <select id="sourcingjob" class="form-control" name="sourcingjob">
            <option value="">선택하세요</option>
            {% for task in task_list %}
                <option name="sourcingjob" value="{{ task }}">{{ task }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
          <label for="saboss">대표자</label>
            <input
              type="text"
              class="form-control"
              id="saboss"
              name="saboss"
              placeholder="Enter saboss name"
            />
        </div>
      <div class="form-group">
        <label for="saaddr">주소</label>
        <input
          type="text"
          class="form-control"
          id="saaddr"
          name="saaddr"
          placeholder="Enter addr"
        />
      </div>
    
      <div class="form-group">
        <label for="sacontact">연락처</label>
        <input
        type="text"
        class="form-control"
        id="sacontact"
        name="sacontact"
        placeholder="Enter contact"
        />
      </div>
      
      <br>
      <button type="submit" class="btn btn-primary">업체등록</button>
    </form>
    <br><hr>
    <h3 align="center">협력사 목록</h3>
    <ul class="list-group list-group-flush" id="cocompany">
      {% for data in all_data %}
      <li class="list-group-item">
        {{ data.saname }}/{{ data.sourcingjob}}/{{ data.saboss }}/{{ data.saaddr }}/{{ data.sacontact }}
        <button type="button" class="btn btn-outline-dark" onClick="cocompany_edit({{ data.id }})">Edit</button>
        <button type="button" class="close" onClick="cocompany_delete({{ data.id }})">  
        <span aria-hidden="false">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
</div>
</div>
{% endblock %}