<!DOCTYPE html>
<html>
<head>
    <title>개인현황 조회</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">개인현황 조회</h1>
        <form method="POST" onsubmit="handleSubmit(event)">
            <div class="row">
                <div class="col-md-6">
                    <label>대상자 선택</label>
                    <select id="uname" name="iuname" class="form-control">
                        <option value="">선택하세요</option>
                        {% for row in users_name %}
                            <option value="{{ row.uname }}">{{ row.uname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>조회기간 선택</label>
                    <div class="input-group">
                        <input type="date" name="from_date" class="form-control" data-date-format="yyyy-mm-dd">
                        <input type="date" name="to_date" class="form-control" data-date-format="yyyy-mm-dd">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" id="run-flask-btn">개인현황 조회</button>
            
        </form>
        <br>
        <table class="table table-hover table-striped table-responsive-sm" id="table1">
            <thead>                
                <tr>
                    <th>날짜</th>
                    <th>Pcode</th>
                    <th>PName</th>
                    <th>부서</th>
                    <th>jobpart</th>
                    <th>시간계</th>
                </tr>
            </thead>
            <tbody id="dateTable">
                {% for row in working_hours %}
                <tr>
                    <td>{{ row.recodingdate }}</td>  <!-- 순번 표시 -->
                    <td>{{ row.pcode }}</td>
                    <td>{{ row.pname }}</td>
                    <td>{{ row.pcode }}</td>
                    <td>{{ row.jobpart }}</td>
                    <td>{{ row.total_workhour }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <script type="text/javascript">
        
        //<form> 입력값 유지하기
        function handleSubmit(event) {
            event.preventDefault(); // 폼 제출을 막음
            //alert("폼이 제출되었지만 페이지는 새로고침되지 않았습니다.");
        }

        document.getElementById('run-flask-btn').addEventListener('click', function() { 
            fetch('/get_user_summary', { 
                method: 'POST' 
            }) 
            .then(response => response.text()) 
            .then(data => { 
                //alert(data); 
            }) 
            .catch(error => { 
                console.error('Error:', error); 
            }); 
        }); 
    </script>
    
</body>
</html>
