<!DOCTYPE html>
<html>
<head>
    <title>조회 결과</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Order Number</th>
                <th>성명</th>
                <th>참여분야</th>
                <th>참여시간(0-12)</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.id }}</td>
                <td>{{ result.order_number }}</td>
                <td>{{ result.name }}</td>
                <td>{{ result.jobpart }}</td>
                <td>{{ result.work_hour }}</td>
                <td>{{ result.workdate }}</td>
            </tr>
     
            {% endfor %}
        </tbody>
    </table>
    <p>총 근무 시간: {{ total_work_hours }} 시간</p>
</body>
</html>
