{% extends "base.html" %} 
{% block title %}사용자 프로젝트 등록{% endblock %} 

{% block content %}
<form method="POST">
  Project Code: <input type="text" name="pcode" required><br>
  Project Name: <input type="text" name="pname" required><br>
  Username: <input type="text" name="username" required><br>
  Job Part: <input type="text" name="jobpart"><br>
  Work Hours: <input type="number" name="workhour" required><br>
  Recording Date (yymmdd): <input type="text" name="recodingdate"><br>
  User ID: <input type="number" name="user_id" required><br>
  <input type="submit" value="Record Hours">
</form>
<a href="{{ url_for('home') }}">Back to Home</a>



    <form method="POST">
      <h3 align="center">프로젝트별 근무시간 등록</h3>
        <div class="row">
          <div class="col">
            <label for="userDepartmet">소속: {{user.udepartment}}</label>
          </div>
          <div class="col">
            <label for="userPosition">직책: {{user.uposition}}</label>
          </div>
          <div class="col">
            <label for="userName">성명: {{user.uname}}</label>
          </div>
        </div>

      <div class="form-group">
        <label for="projCode">프로젝트 CODE</label>
        <input
            type="text"
            class="form-control"
            id="projCode"
            name="projCode"
            placeholder="Enter Project Code"
        />
      </div>

      <div class="form-group">
        <label for="projCode">프로젝트 CODE</label>
        <input
            type="text"
            class="form-control"
            id="projCode"
            name="projCode"
            placeholder="Enter Project Code"
        />
      </div>

      <div class="form-group">
        <label for="uName">이름</label>
        <input
            type="text"
            class="form-control"
            id="uName"
            name="uName"
            placeholder="Enter User Name"
        />
      </div>

      <div>
        <label for="worked_hour">참여시간(0-12):</label>
        <input type="number" id="worked_hour" name="worked_hour" min="0" max="12" />
      </div>
    <br>
      <button type="submit" class="btn btn-primary">근무시간 등록</button>
    </form>

    <br><hr>
    <h3 align="center">프로젝트별 참여시간(개인별)</h3>
    <ul class="list-group list-group-flush" id="working_hours">
      {% for data in user.working_hours %}
      <li class="list-group-item">
        {{ data.pcode }}/{{ data.username }}/{{ data.workhour }}시간
        <button type="button" class="btn btn-outline-dark" onClick="workhour_edit({{ data.id }})">Edit</button>
        <button type="button" class="close" onClick="workhour_delete({{ data.id }})">  
        <span aria-hidden="false">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <br><br><hr><hr>
    {% endblock %}